*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: rgb(202, 170, 56);
    background-image: url("./img/cofre2.jpg");
    background-repeat: no-repeat;
   background-size: cover;

  
}

.jogo{
   text-align: center;
    

}
#titulo{
    color: cornflowerblue;
    margin-top: 100px;
}
.senha{
    color: aliceblue;
    display: flex;
    flex-direction:column ;
    margin-top: 150px;
}
.senha h1{
    color: rgb(174, 56, 135);
}
.senha h2{
    font-size:60px;
    color: rgb(153, 205, 242);
}
.abrir{
    margin-top: 10px;
}
